{
  "branches": ["production"],
  "repositoryUrl": "https://github.com/vortechstudio-packager/laravel-github-issues.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
      "path": "@semantic-release/npm",
      "npmPublish": false
    },
    {
      "path": "@semantic-release/github",
    },
  ],
  "preset": "angular",
  "presetConfig": {
    "types": [
      { "type": "feat", "section": "Fonctionnalités" },
      { "type": "fix", "section": "Corrections de Bugs" },
      { "type": "perf", "section": "Améliorations de Performance" },
      { "type": "docs", "section": "Documentation" },
      { "type": "style", "section": "Styles" },
      { "type": "refactor", "section": "Refactoring" },
      { "type": "test", "section": "Tests" },
      { "type": "build", "section": "Build" },
      { "type": "ci", "section": "CI" },
      { "type": "chore", "hidden": true },
      { "type": "revert", "section": "Reverts" },
      { "type": "wip", "hidden": true },
    ],
  },
}
